button {
    cursor: pointer;
    display: block;
    border: none;
}

input {
    display: block;
    border: none;
    outline: none;

    &:focus {
        outline: none;
    }
}

img {
    display: block;
    width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}

body {
    background-color: #000;
    background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%), url('/images/bg-body.png');
    background-position: center;
    background-size: contain;
}

.container {
    // outline: 2px solid red;
    width: 100%;
    max-width: 767px;
    min-width: 320px;
    // padding: 0 15px;
    margin: 0 auto;

    @media (min-width: 768px) {
        max-width: 768px;
    }

    @media (min-width: 1024px) {
        max-width: 1140px;
    }

}

a {
    text-decoration: none;
}